/* общие стили для сираницы */
/* body {
  background-color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 24px;
  margin-top: 80px;
  margin-left: 500px;
  margin-right: 1000px;
  line-height: 24px;
}
.additionaltext {
  color: #585858;
  margin-top: 36px;
  margin-left: 500px;
  margin-right: 900px;
  margin-bottom: 52px;
  line-height: 20px;
  font-size: 12;
}
.minertext {
  margin-top: 53px;
  margin-left: 500px;
  margin-right: 900px;
  margin-bottom: 90px;
  line-height: 23px;
  font-size: 11;
} */
* {
  box-sizing: border-box;
}
body {
  font-family: "PT Sans", sans-serif;
}
h1,
h2,
h3,
h4,
p,
ul,
ol,
blockquote,
hr {
  width: 700px;
  margin: 0 auto;
}
img {
  width: 1024px;
  margin: 0 auto;
  display: block;
}
h1,
h2,
h3,
h4 {
  font-family: "PT Sans Caption", sans-serif;
  font-weight: bold;
}
p,
ol,
ul,
blockquote {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 30px;
}
h1 + p {
  color: rgba(0, 0, 0, 0.4);
}
a {
  color: inherit;
}
h1 {
  margin: 50px auto;
  font-size: 38px;
  line-height: 45px;
}
h2 {
  margin-top: 40px;
  font-size: 32px;
  line-height: 36px;
}
h3 {
  margin-top: 36px;
  font-size: 28px;
  line-height: 32px;
}
h4 {
  margin-top: 32px;
  font-size: 22px;
  line-height: 24px;
}
hr {
  margin: 12px auto;
  width: 1024px;
}
h1 + p,
h2 + p,
h3 + p,
h4 + p {
  margin-top: 10px;
}
ul {
  list-style: disc;
  padding-left: 32px;
}
ol {
  list-style-type: decimal;
  padding-left: 32px;
}
li {
  margin: 10px auto;
}
blockquote {
  font-style: italic;
  position: relative;
}
blockquote::before {
  content: "";
  width: 3px;
  height: 100%;
  position: absolute;
  background-color: #000;
  top: 0;
  left: -17px;
}

/* стили для бокового меню */
.sidebar {
  width: 280px;
  position: fixed;
  top: 50px;
  left: 0;
  opacity: 0.3;
  transition: all ease 0.3s;
}
.sidebar:hover {
  opacity: 1;
  transition: all ease 0.6s;
}
.sidebar ol {
  width: 100%;
  font-size: 10px;
  line-height: 100%;
  margin: 10px 0;
  list-style-type: none;
  padding-left: 12px;
}
.sidebar ol ol {
  color: rgba(0, 0, 0, 0.4);
}
.sidebar li {
  font-size: 10px;
}
.sidebar a {
  font-size: 10px;
  text-decoration: none;
}

/* стили для верхнего меню */
.menubar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}
.menubar img {
  width: 350px;
  margin: 0;
}
.menubar a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.4);
  transition: all ease 0.3s;
}

.menubar a:hover {
  transition: all ease 0.6s;
  color: rgba(0, 0, 0, 0.4);
}

/* стили для about.html  */
#about {
  overflow-x: hidden;
}
/*#about::after {
  content: "";
  background-image: url("../images/1440.png");
  width: 1440px;
  height: 3120px;
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: calc(50% - 720px);
  opacity: 0.2;
}*/

#about section {
  width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
#about section div {
  width: 48%;
}
#about h2 {
  margin: 0;
  width: 100%;
  font-weight: normal;
  font-size: 38px;
  line-height: 46px;
}
#about p {
  margin: 24px 0;
  width: 100%;
  font-size: 28px;
  line-height: 38px;
}
#about #firstSection {
  margin-top: 88px;
}
#firstSection img {
  width: 1100px;
}
#firstSection div:nth-of-type(1) {
  padding: 40px 0 0 110px;
}
#secondSection img {
  width: 660px;
  padding-left: 20px;
}
#about #secondSection {
  margin-top: 96px;
}
#secondSection div:nth-of-type(2) {
  padding: 50px 20px 0 12px;
}

#thirdSection img {
  width: 1050px;
  margin: 10px 0 0 10px;
  border-left: 1px solid #000;
}
#about #thirdSection {
  margin-top: 190px;
  border-bottom: 1px solid #000;
}
#thirdSection div:nth-of-type(2) {
  padding-left: 110px;
}
#about #forthSection {
  flex-direction: column;
  width: 700px;
  align-items: center;
  padding: 120px 0;
}

#forthSection h2,
#forthSection p {
  text-align: center;
}

#about #forthSection div {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

#forthSection a {
  text-decoration: none;
  border: 1px solid gray;
  color: gray;
  border-radius: 4px;
  padding: 18px 36px;
}

#forthSection a:hover {
  text-decoration: none;
  border: 1px solid black;
  color: black;
  transition: all ease 0.6s;
}

#forthSection a:nth-of-type(2) {
  color: #eee;
  background-color: #343434;
  border: 1px solid #343434;
}

#forthSection a:nth-of-type(2):hover {
  background-color: #000;
  border: 1px solid #000;
}
